.homeContainer {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
  padding-top: 10%;
}

.imageBackBox {
  width: 75%;
  margin: auto;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(45deg, transparent, var(--primary), transparent);
}

.imageBox {
  height: 100%;
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: all 400ms ease;
}

.imageBox img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
}

.imageBox:hover {
  transform: rotate(0);
}

.homeInfo .greeting {
  font-size: 2.5rem;
}

.homeInfo .name {
  font-size: 5rem;
  color:var(--primary)
}

.homeInfo .name .im,
.homeInfo .title .im {
  margin-right: 1rem;
  color:var(--foreground)
}

.homeInfo .title {
  font-size: 3rem;
  display: flex;
  color:var(--primary)
}

.homeInfo .bio {
  font-size: 1.7rem;
  margin: 1rem 0rem;
  color:var(--foreground)
}


.socialIconBox {
  text-decoration: none;
}

.socialIconBox {
  display: inline-block;
  height: 5rem;
  width: 5rem;
  align-items: center;
  margin: 0 5px;
  overflow: hidden;
  background: var(--primary);
  border-radius: 3rem;
  cursor: pointer;
  box-shadow: 0 0.1rem 1rem 0.1rem var(--shadow);
  transition: all 0.3s ease-out;
}

.socialIconBox:hover {
  width: 16.5rem;
}

.socialIconBox .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  border-radius: 5rem;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

.socialIconBox .icon i {
  font-size: 2.2rem;
}

.socialIconBox.facebook:hover .icon {
  background: #4267B2;
}

.socialIconBox.github:hover .icon {
  background: #1DA1F2;
}

.wrapper .button:nth-child(3):hover .icon {
  background: #E1306C;
}

.wrapper .button:nth-child(4):hover .icon {
  background: #333;
}

.wrapper .button:nth-child(5):hover .icon {
  background: #ff0000;
}

.socialIconBox:hover .icon {
  color: #fff;
}

.socialIconBox span {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  margin-left: 1rem;
  transition: all 0.3s ease-out;
}

.socialIconBox:nth-child(1) span {
  color:var(--foreground)
}

.socialIconBox:nth-child(2) span {
  color:var(--foreground)
}

.socialIconBox:nth-child(3) span {
  color:var(--foreground)
}




@media only screen and (max-width:991.98px) {
  .homeContainer {
    grid-template-columns: 1fr;
    gap: 10%;
    padding-top: 15%;
  }

  .imageBackBox {
    width: 50%;
  }
}



@media only screen and (max-width:575.98px) {
  .homeContainer {
    grid-template-columns: 1fr;
    gap: 7%;
    padding-top: 25%;
  }

  .imageBackBox {
    width: 60%;
  }
  .homeInfo .greeting {
    font-size: 1.8rem;
  }
  .homeInfo .name {
    font-size:2.8rem;
  }
  .homeInfo .title {
    font-size: 1.8rem;
    margin-top:0.7rem;
  }
  .homeInfo .bio {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
  
.socialIconBox {
  height: 4rem;
  width: 4rem;
}

.socialIconBox:hover {
  width: 15rem;
}

.socialIconBox .icon {
  height: 4rem;
  width: 4rem;
}

.socialIconBox .icon i {
  font-size: 1.8rem;
}
.socialIconBox span {
  font-size: 1.8rem;
}


}