


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--background);
  color: var(--foreground)
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}






/* Scrool Bar Coustom Style Start*/

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: var(--background);
}

html::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 25px;
}
/* Scrool Bar Coustom Style End*/








.container {
  width: 86%;
  min-height: 80vh;
  margin: auto;
  align-items: center;
}

.button {
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 3rem;
  margin: 1rem 0rem;
  cursor: pointer;
  background-color: var(--primary);
  color: var(--text);
  transition:var(--transition);
  border:solid 1px var(--primary)
}

.button i {
  margin-left: 0.8rem;
}

.button:hover{
  background-color: transparent;
  color:var(--text-alt);
}

.heading {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 5rem;
  text-transform: capitalize;
}

.heading span {
  margin-right: 1.5rem;
  color: var(--primary)
}