
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior:smooth;
}

:root{
  --background: #fcfcfc;
  --clr-bg-alt: #fff;
  --clr-fg: #555;
  --clr-fg-alt: #444;
   --primary: #2978b5;
   --link:#fcfcfc;
  --shadow: #64646f33;
  --transition: all 400ms ease;
  --error:red;
}

.container{
  width:86%;
  min-height:80vh;
  margin:auto;
  align-items: center;
}

.button{
  text-decoration: none;
  display: inline-block;
  font-size:1.5rem;
  padding:1rem 2rem;
  border:none;
  border-radius: 3rem;
  margin:1rem 0rem;
  cursor:pointer;
  background-color:var(--primary);
  color:var(--background)
}

.button i{
  margin-left:0.8rem;
}

.heading{
  font-size:5rem;
  text-align: center;
  margin-bottom: 5rem;
  text-transform: capitalize;
}

.heading span{
  margin-right: 1.5rem;
  color:var(--primary)
}
